.grunticon-arrow-up-white { background-image: url('png/arrow-up-white.png'); background-repeat: no-repeat; }

.grunticon-arrow-up { background-image: url('png/arrow-up.png'); background-repeat: no-repeat; }

.grunticon-binoculars-white { background-image: url('png/binoculars-white.png'); background-repeat: no-repeat; }

.grunticon-binoculars { background-image: url('png/binoculars.png'); background-repeat: no-repeat; }

.grunticon-books-white { background-image: url('png/books-white.png'); background-repeat: no-repeat; }

.grunticon-books { background-image: url('png/books.png'); background-repeat: no-repeat; }

.grunticon-envelope-white { background-image: url('png/envelope-white.png'); background-repeat: no-repeat; }

.grunticon-envelope { background-image: url('png/envelope.png'); background-repeat: no-repeat; }

.grunticon-home-white { background-image: url('png/home-white.png'); background-repeat: no-repeat; }

.grunticon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.grunticon-home2-white { background-image: url('png/home2-white.png'); background-repeat: no-repeat; }

.grunticon-home2 { background-image: url('png/home2.png'); background-repeat: no-repeat; }

.grunticon-home3-white { background-image: url('png/home3-white.png'); background-repeat: no-repeat; }

.grunticon-home3 { background-image: url('png/home3.png'); background-repeat: no-repeat; }

.grunticon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.grunticon-newspaper-gray { background-image: url('png/newspaper-gray.png'); background-repeat: no-repeat; }

.grunticon-newspaper { background-image: url('png/newspaper.png'); background-repeat: no-repeat; }

.grunticon-profile-white { background-image: url('png/profile-white.png'); background-repeat: no-repeat; }

.grunticon-profile { background-image: url('png/profile.png'); background-repeat: no-repeat; }

.grunticon-question-white { background-image: url('png/question-white.png'); background-repeat: no-repeat; }

.grunticon-question { background-image: url('png/question.png'); background-repeat: no-repeat; }

.grunticon-quill-white { background-image: url('png/quill-white.png'); background-repeat: no-repeat; }

.grunticon-quill { background-image: url('png/quill.png'); background-repeat: no-repeat; }

.grunticon-search-gray { background-image: url('png/search-gray.png'); background-repeat: no-repeat; }

.grunticon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

