.action {
  display: block;
  color: $c-white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.5em;
  text-align: center;
  .heading-2 {
    border-bottom: 1px solid;
    color: $c-white;
    margin-top: 0;
  }
  @include scut-selected {
    color: $c-white;
  }
}

.action-learn {
  background-color: $c-blue;
  margin-right: 0.5em;
}

.action-ask {
  background-color: $c-green;
  @include scut-margin(n 0.5em);
}

.action-find {
  background-color: $c-orange;
  margin-left: 0.5em;
}

@media (max-width: 37.5em) {
  .action {
    @include scut-margin(n 0);
  }
}