html, body {
  overflow-x: hidden;
}

.container {
  @include scut-clearfix;
  @include scut-center-block(scut-em(1000));
  position: relative;
}

.container-padded {
  padding: 1em;
}

.breadcrumb {
  @include scut-list-inline;
  > li:after {
    content: $scut-rsaquo;
  }
}