html, body {
  overflow-x: hidden;
}

figure {
  @include scut-margin(0);
}

.icon-regular {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  @include scut-size(scut-em(32));
}

.rel {
  position: relative;
}

.link-block {
  color: inherit;
  display: block;
  text-decoration: none;
}


// SIDEBAR LAYOUT

.sidebar {
  float: right;
  width: 25%;
  color: #fff;
  padding: 1em;
  &.m-home-buying {
    background: $c-buying;
  }
  &.m-home-selling {
    background: $c-selling;
  }
}
.main-with-sidebar {
  float: right;
  width: 75%;
  padding-right: 2em;
  padding-bottom: 3em;
}

.sidebar-steps-list {
  a {
    color: #fff;
  }
}