html, body {
  overflow-x: hidden;
}

.rel {
  position: relative;
}

.container {
  @include scut-clearfix;
  @include scut-center-block(scut-em(1000));
  position: relative;
}

.container-padded {
  padding: 1em;
}

.container-section {
  padding: $f-lg 1em;
}

.container-narrow {
  max-width: scut-em(700);
}

.bg-rust {
  background-color: $color-rust;
  color: $color-white;
}

.bg-blue {
  background-color: $color-blue;
  color: $color-white;
}

.bg-green {
  background-color: $color-green;
  color: $color-white;
}

.bg-brown {
  background-color: $color-brown-light;
  color: $color-gray;
}