.row {
  @extend %scut-clearfix;
}

.cc {
  margin-left: auto;
  margin-right: auto;
}

.cc-full {
  @extend .cc;
  max-width: $site-x;
}

.cc-med {
  @extend .cc;
  max-width: scut-em(600);
}

.cp {
  padding: 1.5em;
}

.cp-y-lg {
  @include scut-padding($f-lg 1em);
  @media #{$bp-until-med} {
    @include scut-padding($f-med n);
  }
}

// backgrounds
.bg-white {
  background-color: #fff;
}
.bg-rust {
  background-color: $c-rust;
  color: $c-white;
}
.bg-blue {
  background-color: $c-blue;
  color: $c-white;
}
.bg-green {
  background-color: $c-green;
  color: $c-white;
}
.bg-brown {
  background-color: $c-orange-light;
}
.bg-lined {
  background: url(../images/bg-pattern-light-line.png) repeat;
}

// wells

.well {
  border: 1px solid $c-gray-light;
  @extend .padded;
}

.well-shadowed {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.52);
  border-color: $c-white;
}

.well-brown {
  @extend .bg-brown;
}

.well-empty {
  border: 0;
  background-color: #fff;
}



// .container {
//   @include scut-clearfix;
//   @include scut-center-block(scut-em(1000));
//   position: relative;
// }

// .container-padded {
//   padding: 1em;
// }

// .container-section {
//   padding: $f-lg 1em;
// }

// .container-narrow {
//   max-width: scut-em(700);
// }