.site-footer {
  background: lightgray;
  margin-top: 5em;
}

.footer-nav {
  float: right;
  @extend %scut-list-inline;
}

.footer-action {
  padding: 1em;
  border: 1px solid;
  text-align: center;
}