.site-footer {
  background: $color-brown-light;
  color: $color-gray;
}

.footer-logo {
  width: scut-em(261);
  height: scut-em(76);
  background: url(../images/smalllogo.png) no-repeat center center;
  background-size: contain;
  max-width: 90%;
}

.footer-signup {
  @include scut-margin(1em n);
  @include scut-padding(1em n);
  @include scut-border(1px solid $color-gray-light, y n);
  text-align: center;
}

.footer-signup-blurb {
  display: inline-block;
  @media (max-width: scut-em(700)) {
    display: block;
    margin-bottom: 0.5em;
  }
}

#signup-email {
  width: scut-em(250);
  margin-left: 1em;
  @media (max-width: scut-em(700)) {
    margin-left: 0;
  }
  @media (max-width: scut-em(450)) {
    width: 100%;
    @include scut-margin(0.5em n);
  }
}

.footer-nav-primary,
.footer-nav-secondary {
  @extend %scut-list-unstyled;
}

// .footer-nav-primary-c {
//   columns: 2;
//   @media (max-width: scut-em(700)) {
//     columns: 1;
//   }
// }

.footer-fine-print {
  text-align: right;
}

@media (max-width: 37.5em) {
  .footer-nav-primary {
    @include scut-margin(1em n);
  }
  .footer-fine-print {
    text-align: left;
  }
}