$gutter: 4%;

.row {
  @include scut-clearfix;
}

.grid-third {
  @extend %floater;
  width: (100% / 3);
}
.grid-half {
  @extend %floater;
  width: (100% / 2);
}
.grid-half-guttered {
  @extend %floater;
  width: ((100% - $gutter) / 2);
  &.m-first {
    margin-right: $gutter;
  }
}

@media (max-width: 37.5em) {
  .grid-third,
  .grid-half,
  .grid-half-guttered {
    float: none;
    width: 100%;
  }
  .grid-half-guttered {
    &.m-first {
      margin-right: 0;
    }
  }
}