$gutter: 2%;

.row {
  @include scut-clearfix;
}

.grid-third {
  @extend %floater;
  width: (100% / 3);
}
.grid-half {
  @extend %floater;
  width: (100% / 2);
}
.grid-half-guttered {
  @extend %floater;
  width: ((100% - $gutter) / 2);
  &:first-child {
    margin-right: $gutter;
  }
}
.grid-third-guttered {
  @extend %floater;
  width: ((100% - ($gutter * 2)) / 3);
  margin-left: $gutter;
  &:first-child {
    margin-left: 0;
  }
}

@media (max-width: 37.5em) {
  .grid-third,
  .grid-half,
  .grid-half-guttered,
  .grid-third-guttered {
    float: none;
    width: 100%;
  }
  .grid-half-guttered {
    margin-right: 0;
  }
  .grid-third-guttered {
    margin-left: 0;
  }
}