.post-list {
  @include scut-list-unstyled;
}

.post-in-list {
  & + & {
    margin-top: $pad-sm;
  }
}

.entry-summary {
  margin-top: 0.5em;
}

.categories {
  @extend %scut-clearfix;
  @extend .f-light;
  > dt,
  > dd {
    float: left;
  }
  > dt {
    &:after {
      content: ":";
      margin-right: 0.3em;
    }
  }
  > dd {
    margin-left: 0;
  }
  > dd + dd:before {
    content: $scut-middot;
    float: left;
    @include scut-margin(n 0.3em);
  }
}