#search-results-c {

  .gsc-results {
    @include scut-margin(n auto);
  }

  .gsc-result-info,
  .gcsc-branding {
    @include scut-padding(n 0);
  }

  .gsc-control-cse {
    padding: 0;
  }

  .gsc-url-top {
    display: none;
  }

  .gsc-thumbnail-inside {
    padding: 0 0 0.5em;
  }

  .gsc-selected-option-container {
    width: 80px !important;
  }

  .gsc-results .gsc-cursor-box {
    margin: 1em 0 0;
  }

  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 38px;
    padding: 0;
    border: 1px solid;
    margin: 2px;
  }
}