// form

.search-form {
  position: relative;
  width: $search-x;
  height: $search-total-y;
  border: $search-bd-x solid $c-font;
  //box-sizing: content-box;
}

#search-input {
  @include scut-absolute(0 n n 0);
  width: 100%;
  box-sizing: border-box;
  border: 0;
  @include scut-padding(10px ($search-y + 10px) 10px 10px);
  font-size: 15px;
  line-height: 20px;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: 0;
}

.grunticon-search {
  display: block;
  @include scut-size(20px);
  @include scut-margin(n auto);
}

.search-submit {
  @include scut-absolute(0 0 n n);
  height: $search-y;
  width: 40px;
  text-align: center;
  border-left: 2px solid $c-font;
}


// results

#search-results-c {

  .gsc-results {
    @include scut-margin(n auto);
  }

  .gsc-result-info,
  .gcsc-branding {
    @include scut-padding(n 0);
  }

  .gsc-control-cse {
    padding: 0;
  }

  .gsc-url-top {
    display: none;
  }

  .gsc-thumbnail-inside {
    padding: 0 0 0.5em;
  }

  .gsc-selected-option-container {
    width: 80px !important;
  }

  .gsc-results .gsc-cursor-box {
    margin: 1em 0 0;
  }

  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 38px;
    padding: 0;
    border: 1px solid;
    margin: 2px;
  }
}