.hide-visually {
  @extend %scut-hide-visually;
}

.list-unstyled {
  @extend %scut-list-unstyled;
}

.link-block {
  color: inherit;
  display: block;
  text-decoration: none;
}

%one-line-padded {
  line-height: 20px;
  @include scut-padding(10px n);
}

%one-line-padded-lg {
  line-height: 20px;
  @include scut-padding(20px n);
}

.icon {
  display: block;
  @include scut-size(32px);
}

.icon-sm {
  @include scut-size(16px);
  position: relative;
  bottom: 2px;
}

.icon-inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

.f-center {
  text-align: center;
}

.f-bold {
  font-weight: bold;
}