.post-list {
  @extend %scut-list-unstyled;
  @include scut-margin(20px n);
}

.post-in-list {
  @include scut-padding(20px n);
  .heading > a {
    color: $c-rust;
    @include scut-selected {
      text-decoration: underline;
    }
  }
}

.entry-summary {
  margin-bottom: 10px;
}

.post-list-side {
  @extend %scut-list-unstyled;
}

.post-in-list-side {
  & + & {
    margin-top: 10px;
  }
}

.post-list-date {
  color: $c-gray;
  font-weight: bold;
  float: left;
  margin-right: 0.5em;
  &:after {
    content: $scut-bull;
    margin-left: 0.5em;
  }
  @media #{$bp-until-sm} {
    float: none;
    margin-right: 0;
    &:after {
      display: none;
    }
  }
}