.search-form {
  display: inline-block;
  position: relative;
}

.search-input[type="search"] {
  height: 60px;
  line-height: 58px;
  box-sizing: border-box;
  border: 2px solid $c-gray-light;
  background: none;
  padding: 0 76px 0 16px;
  margin-bottom: 0;
  -webkit-appearance: none;
  &::placeholder {
    color: $c-gray;
  }
  &.m-lg {
    height: 76px;
    line-height: 74px;
    padding-left: 24px;
    font-size: $fz-2;
  }
}

.search-submit {
  @include scut-absolute(0 0 0 n);
  line-height: 58px;
  width: 60px;
  z-index: 2;
  .icon {
    @extend %scut-center-block;
  }
}