$gutter: 2%;

.row {
  @include scut-clearfix;
}

.col {
  float: left;
}

.col-third {
  width: (100% / 3);
}
.col-half {
  width: (100% / 2);
}
.col-half-guttered {
  width: ((100% - $gutter) / 2);
  &:first-child {
    margin-right: $gutter;
  }
}
.col-third-guttered {
  width: ((100% - ($gutter * 2)) / 3);
  margin-left: $gutter;
  &:first-child {
    margin-left: 0;
  }
}

.col-main {
  width: 70%;
  padding: 40px 60px 40px 10px;
  @media #{$bp-until-med} {
    padding: 20px 10px;
  }
}

.col-side {
  width: 30%;
  @include scut-padding(40px 10px 10px);
}

@media #{$bp-until-med} {
  .col {
    float: none;
    width: 100%;
  }
  .col-half-guttered {
    margin-right: 0;
  }
  .col-third-guttered {
    margin-left: 0;
  }
}