.cc {
  @include scut-center-block($max-x);
  @include scut-padding(n $fz-1);
}

.cc-med {
  max-width: $med-x;
}

.cc-sm {
  max-width: $sm-x;
}

.cc,
.rel {
  position: relative;
}

// padding
.p-y-lg {
  @include scut-padding($pad-lg n);
  @media #{$bp-until-med} {
    @include scut-padding($pad-med n);
  }
}
.p-y-med {
  @include scut-padding($pad-med n);
}

// backgrounds
.bg-white {
  background-color: #fff;
}
.bg-rust {
  background-color: $c-rust;
  color: $c-white;
}
.bg-blue {
  background-color: $c-blue;
  color: $c-white;
}
.bg-green {
  background-color: $c-green;
  color: $c-white;
}
.bg-brown {
  background-color: $c-brown;
}
.bg-lined {
  background: url(../images/bg-pattern-light-line.png) repeat;
}