.btn {
  @extend %one-line-padded;
  @include scut-padding(n 1em);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: $c-white;
  text-align: center;
  display: inline-block;
  @include scut-selected {
    color: $c-white;
  }
}

.btn-rust {
  background-color: $c-rust;
}

.btn-orange {
  background-color: $c-orange;
}

.btn-clear {
  border: 2px solid;
}

.btn-lg {
  @extend %one-line-padded-lg;
  font-size: $fz-2;
  @media #{$bp-until-med} {
    font-size: $fz-1;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
  box-shadow: none;
  border: 1px solid $c-gray-light;
  border-radius: 0;
  line-height: 20px;
  padding: 9px 1em;
  width: 100%;
  margin-bottom: 1em;
  -webkit-appearance: none;
}

textarea {
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.3em;
}

input[type="submit"] {
  @extend .btn;
  @extend .btn-rust;
  @extend .btn-lg;
  margin-top: 1em;
  border-radius: 0;
}

label {
  display: block;
}

.form-full-c {
  form {
    margin-top: $pad-med;
    @extend .well;
    @extend .well-brown;
    @extend .well-shadowed;

    section + section {
      border-top: 1px solid $c-gray-light;
      padding-top: $pad-sm;
      margin-top: 0.5em;
    }
  }
}

// stupid contact form 7

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7-not-valid-tip.wpcf7-not-valid-tip.wpcf7-not-valid-tip {
  background-color: $c-error;
  font-size: 1em;
  display: block;
  color: $c-white;
  padding: 0.2em 0.5em;
  margin-top: -1em;
  margin-bottom: 1em;
}

.wpcf7-response-output.wpcf7-response-output {
  background-color: $c-white;
  color: $c-error;
  margin: 1em 0 0 0;
}

.wpcf7-validation-errors.wpcf7-validation-errors {
  border-color: $c-error;
  padding: 0.2em 0.5em;
}

.wpcf7-mail-sent-ok.wpcf7-mail-sent-ok {
  background-color: $c-green;
  color: $c-white;
  border: 0;
  padding: 0.2em 0.5em;
}