.site-header {
  padding-bottom: 0;
}

#site-body {
  border-top: 20px solid $c-white;
  .page-id-15 &,
  .parent-pageid-15 & {
    border-top-color: $c-buying;
  }
  // selling
  .page-id-2 &,
  .parent-pageid-2 & {
    border-top-color: $c-selling;
  }
  // owning
  .page-id-2457 &,
  .parent-pageid-2457 & {
    border-top-color: $c-owning;
  }
}

#site-title {
  float: left;
}


#nav-container {
  float: right;
  margin-top: 3em;
  @media only screen and (max-width: 1100px) {
    clear: both;
    float: left;
    margin-top: scut-em(10);
  }
}

#nav-inner {
  float: left;
}

.nav {
  @extend %scut-list-floated;
  > li {
    > a {
      display: block;
    }
  }
}

.nav-primary {
  > li > a {
    @extend .btn;
    @extend %one-line-padded-lg;
    @include scut-padding(n 1em);
  }
  > li {
    margin-right: 10px;
  }
}

.nav-buying > a {
  background-color: $c-buying;
}
.nav-selling > a {
  background-color: $c-selling;
}
.nav-owning > a {
  background-color: $c-owning;
}

.nav-secondary {
  @include scut-absolute(0 1em n n);
  > li > a {
    @extend %one-line-padded;
    padding-left: scut-em(10);
  }
}

#header-search {
  float: left;
  position: relative;
}

.mbl-btn {
  display: none;
}

.mbl-nav-btn {
  background-color: $c-rust;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: ($fz-0 / 2);
  color: $c-white;
  text-align: right;
}

.mbl-close-btn {
  margin-top: 2em;
  @include scut-center-block(6em);
}

.mbl-close-btn-top {
  @include scut-absolute($fz-0 $fz-0 n n);
}

.mbl-home-btn {
  font-size: $fz-2;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  max-width: 10em;
}

// click to reveal

@media #{$bp-until-med} {

  #nav-container {
    &.is-mbl-hidden {
      margin-top: 0;
      padding-top: 1em;
      position: absolute;
      left: 0;
      right: 0;
      background: $c-white;
      z-index: 10;
      @include scut-padding(n 1em 1em);
    }
    &.is-transition-ready {
      transition: transform 0.3s;
    }
  }

  .csstransforms3d #nav-container.is-mbl-hidden {
    transform: translate3d(0, -100%, 0);
    &.is-active {
      transform: translate3d(0, 0, 0);
    }
  }

  .no-csstransforms3d #nav-container.is-mbl-hidden {
    transform: translateY(-100%);
    &.is-active {
      transform: translateY(0);
    }
  }

  #nav-inner,
  #header-search {
    @include scut-center-block(23em);
  }

  #header {
    position: relative;
    z-index: 11;
    padding: 0;
  }

  #site-title {
    padding: 1em;
  }

  #site-body {
    position: relative;
    border-top: 0;
    &.is-showing-nav {
      &:before {
        content: "";
        display: block;
        @include scut-fill;
        background-color: rgba(0,0,0,0.8);
        z-index: 10;
      }
    }
  }

  #nav-container,
  #nav-inner,
  #header-search,
  .nav > li {
    float: none;
  }

  .nav {
    > li {
      margin-right: 0;
      margin-top: $fz-0;
    }
  }

  .nav-secondary {
    position: static;
    > li > a {
      // copying button styles
      @include scut-padding(n 1em);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      color: $c-gray;
      text-align: center;
      border: 2px solid;
      line-height: 20px;
      @include scut-padding(20px n);
    }
  }

  #header-search {
    display: block;
    margin-top: $fz-0;
  }

  .mbl-btn {
    display: block;
  }

}