.link-in-list {
  display: block;
  border-top: 1px solid $c-gray-light;
  text-decoration: none;
  @include scut-padding($fz-0 n);
}

.steps-list {
  @include scut-list-custom(count, 2em);
  padding-left: 0;
  @include scut-margin(n -20px 0);
  > li {
    &:before {
      border: 1px solid;
      border-radius: 50%;
      top: 0.9em;
      left: 20px;
      width: 24px;
      height: 24px;
      line-height: 20px;
      text-align: center;
      z-index: 2;
    }
    &.is-current {
      z-index: 0;
      top: -1px;
    }
    .m-home-selling &.is-current {
      background-color: darken($c-selling, 10);
    }
    .m-home-buying &.is-current {
      background-color: darken($c-buying, 10);
    }
    .m-home-owning &.is-current {
      background-color: darken($c-owning, 10);
    }
  }
}

.sidestep-link {
  padding-left: 50px;
  display: block;
  @include scut-padding($fz-0 n);
  border-top: 1px solid;

  .is-current & {
    border-bottom: 0;
  }
}

.steps-owning {
  > li {
    &:before {
      content: $scut-circle;
    }
  }
}