$testimonial-info-x: scut-em(200);

#random-testimonial {
  @include scut-padding(n 5em);
  .testimonial-blockquote {
    color: $c-white;
    font-size: $fz-2;
    @include scut-margin(0 auto n auto);
    max-width: 40em;
    border-left: 0;
    @media #{$bp-until-sm} {
      font-size: $fz-1;
      @include scut-padding(n 0);
    }
  }
  .testimonial-caption {
    color: $c-brown;
    font-weight: bold;
    &:before {
      content: "";
      display: block;
      @include scut-margin(n auto 1em);
      width: 10em;
      border-top: 1px solid;
    }
  }
}

.random-testimonial-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: $fz-5;
  background: rgba(255,255,255,0.2);
  &:after {
    content: "";
    @include scut-center-absolutely(1.5em 2em);
    @include scut-triangle(right, 1.5em 2em, $c-white);
  }
}

@media only screen and (max-width: 800px) {
  #random-testimonial {
    @include scut-padding(n 1em 5em);
  }
  .random-testimonial-btn {
    top: auto;
    left: 0;
    width: 100%;
    height: $fz-5;
    &:after {
      display: none;
    }
    &:before {
      content: "see another testimonial";
      line-height: $fz-5;
      display: block;
    }
  }
}