$testimonial-info-x: scut-em(200);

.testimonial-caption {
  font-weight: bold;
}

.testimonial-btn {
  margin-top: 0.5em;
}

#random-testimonial-inner {
  @include scut-padding(n 3em);
  text-align: center;
  .testimonial-blockquote {
    color: $c-white;
    font-size: 1.2em;
    @include scut-margin(0 0 n n);
    padding-left: 0;
    border-left: 0;
  }
  .testimonial-caption {
    color: $c-orange-light;
    &:before {
      content: "";
      display: block;
      @include scut-margin(n auto 1em);
      width: 10em;
      border-top: 1px solid;
    }
  }
}

.random-testimonial-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3em;
  background: rgba(255,255,255,0.2);
  &:after {
    content: "";
    @include scut-center-absolutely(1.5em 2em);
    @include scut-triangle(right, 1.5em 2em, $c-white);
  }
}

@media only screen and (max-width: scut-em(800)) {
  #random-testimonial-inner {
    @include scut-padding(n 1em 5em);
  }
  .random-testimonial-btn {
    text-decoration: none;
    top: auto;
    left: 0;
    width: 100%;
    height: 3em;
    &:after {
      display: none;
    }
    &:before {
      content: "see another testimonial";
      line-height: 3em;
      color: $c-white;
      display: block;
      text-align: center;
    }
  }
}