body {
  color: $color-font;
  //font-family: $font-base;
  font-size: 100%; // 16px
  line-height: 1.5; // 24px
}

a {
  color: $color-blue;
  @include scut-selected {
    color: darken($color-blue,10);
  }
}

b {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  color: $color-gray;
  border-left: 2px solid $color-gray-light;
  padding-left: $f-sm;
}

.heading-1,
.heading-2 {
  &, & > a {
    color: $color-rust;
    font-weight: bold;
    line-height: 1.38;
    text-decoration: none;
  }
  & > a {
    @include scut-selected {
      border-bottom: 1px dotted;
    }
  }
}

.heading-1 {
  font-size: $f-lg;
  @media #{$bp-until-med} {
    font-size: 2em;
  }
  line-height: 1;
  @extend .m-tb;
}

.heading-2 {
  font-size: $f-med;
  line-height: 1;
  @extend .m-t;
  @extend .m-sm-b;
}

.heading-3 {
  font-weight: bold;
}

.f-sm {
  font-size: $f-sm;
}

.f-light {
  color: $color-gray;
}

.f-center {
  text-align: center;
}

.content {
  h2 {
    @extend .heading-2;
  }
  h3,h4,h5,h6 {
    @extend .heading-3;
  }
  h1,h2,h3,h4,h5,h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.feature {
  font-family: Georgia, "Times New Roman," serif;
  font-size: $f-med;
  line-height: 1;
  margin-bottom: 0.5em;
}