.btn,
input.btn {
  color: $c-white;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  @include scut-selected {
    color: $c-white;
  }
  @extend .p-sm-tb;
  @extend .p-lr;
}

.btn-sm {
  @extend .btn;
  @extend .padded-xsm;
}

.btn-dark,
input.btn-dark  {
  background-color: $c-rust;
  @include scut-selected {
    background-color: darken($c-rust, 10);
  }
}

.btn-orange {
  background-color: $c-orange;
  @include scut-selected {
    background-color: darken($c-orange, 10);
  }

}

.btn-light {
  background-color: $c-blue;
  @include scut-selected {
    background-color: darken($c-blue, 10);
  }
}

.btn-clear {
  background: none;
  border: 2px solid;
}

.btn-empty {
  color: $c-blue;
  border: 1px solid;
}

.btn-icon {
  display: inline-block;
  vertical-align: middle;
  @include scut-size(scut-em(32));
  margin-right: 0.5em;
  margin-left: -0.5em;
}

// FORMS

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
  box-shadow: none;
  border: 1px solid $c-gray-light;
  padding: 0.5em 1em;
  width: 100%;
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.3em;
}

label {
  display: block;
  @extend .m-sm-t;
  @extend .m-xsm-b;
  @extend .f-light;
}

#ask-form input[type="submit"] {
  margin-top: $f-med;
}


// PAGE NUMBERS

ul.page-numbers {
  @extend %scut-list-floated;
  @extend .m-lg-tb;
  display: table;
  color: $c-gray;
  border: 1px solid $c-blue;
  border-radius: $curve;
  > li {
    border-left: 1px solid $c-blue;
  }
  > li:first-child {
    border-left: 0;
  }
}
a.page-numbers,
span.page-numbers {
  display: block;
  @extend .padded-xsm;
  text-decoration: none;
}
a.page-numbers {
  @include scut-selected {
    background-color: $c-blue;
    color: $c-white;
  }
}