.btn,
input.btn {
  color: $color-white;
  display: inline-block;
  text-decoration: none;
  @include scut-selected {
    color: $color-white;
  }
  @extend .p-sm-tb;
  @extend .p-lr;
}

.btn-sm {
  @extend .btn;
  @extend .padded-xsm;
}

.btn-dark,
input.btn-dark  {
  background-color: $color-rust;
  @include scut-selected {
    background-color: $color-red;
  }
}

.btn-light {
  background-color: $color-blue;
  @include scut-selected {
    background-color: darken($color-blue, 10);
  }
}

.btn-clear {
  background: none;
  border: 2px solid;
}

.btn-empty {
  color: $color-blue;
  border: 1px solid;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  box-shadow: none;
  border: 1px solid $color-gray-light;
  padding: 0.5em 1em;
  width: 100%;
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.3em;
}

label {
  display: block;
  @extend .m-sm-t;
  @extend .m-xsm-b;
  @extend .f-light;
}

#ask-form input[type="submit"] {
  margin-top: $f-med;
}


// page numbers

ul.page-numbers {
  @extend %scut-list-floated;
  @extend .m-lg-tb;
  display: table;
  color: $color-gray;
  border: 1px solid $color-blue;
  border-radius: $curve;
  > li {
    border-left: 1px solid $color-blue;
  }
  > li:first-child {
    border-left: 0;
  }
}
a.page-numbers,
span.page-numbers {
  display: block;
  @extend .padded-xsm;
  text-decoration: none;
}
a.page-numbers {
  @include scut-selected {
    background-color: $color-blue;
    color: $color-white;
  }
}