.hide-visually {
  @include scut-hide-visually;
}

@mixin reset-links {
  a {
    text-decoration: none;
    color: inherit;
  }
}

%reset-links {
  @include reset-links;
}

.us-li {
  @include scut-list-unstyled;
}

%floater {
  float: left;
}

// margins
.m-t {
  @include scut-rem-fallback($line, margin-top);
}
.m-b {
  @include scut-rem-fallback($line, margin-bottom);
}
.m-tb {
  @extend .m-t;
  @extend .m-b;
}
.m-lg-t {
  @include scut-rem-fallback($line-lg, margin-top);
}
.m-lg-b {
  @include scut-rem-fallback($line-lg, margin-bottom);
}
.m-lg-tb {
  @extend .m-lg-t;
  @extend .m-lg-b;
}
.m-sm-t {
  @include scut-rem-fallback($line-sm, margin-top);
}
.m-sm-b {
  @include scut-rem-fallback($line-sm, margin-bottom);
}
.m-sm-tb {
  @extend .m-sm-t;
  @extend .m-sm-b;
}
.m-xsm-b {
  @include scut-rem-fallback($line-xsm, margin-bottom);
}

// paddings
.p-t {
  @include scut-rem-fallback($line, padding-top);
}
.p-b {
  @include scut-rem-fallback($line, padding-bottom);
}
.p-tb {
  @extend .p-t;
  @extend .p-b;
}
.p-lr {
  @include scut-rem-fallback($line, padding-left);
  @include scut-rem-fallback($line, padding-right);
}
.p-sm-tb {
  @include scut-rem-fallback($line-sm, padding-top);
  @include scut-rem-fallback($line-sm, padding-bottom);
}
.p-sm-lr {
  @include scut-rem-fallback($line-sm, padding-left);
  @include scut-rem-fallback($line-sm, padding-right);
}
.padded {
  @include scut-rem-fallback($line, padding-top);
  @include scut-rem-fallback($line, padding-bottom);
  @extend .p-lr;
}
.padded-sm {
  @extend .p-sm-tb;
  @extend .p-sm-lr;
}
.padded-xsm {
  @include scut-rem-fallback(($line-sm/2), padding-top);
  @include scut-rem-fallback(($line-sm/2), padding-bottom);
  @include scut-rem-fallback($line-sm, padding-left);
  @include scut-rem-fallback($line-sm, padding-right);
}

// colors
.c-rust {
  background-color: $c-rust;
}
.c-red {
  background-color: $c-red;
}
.c-brown {
  background-color: $c-orange;
}
.c-blue {
  background-color: $c-blue;
}
.c-gray {
  background-color: $c-gray;
}
.c-dark {
  background-color: $c-dark;
}
.c-brown-light {
  background-color: $c-orange-light;
}
.c-gray-light {
  background-color: $c-gray-light;
}