/*==========================
COLORS
==========================*/

$color-font: #2D2D2D;
$color-red: #D92A1A;
$color-rust: #A63921;
$color-brown: #D97B29;
$color-brown-light: #EAE7D9;
$color-light: #D9D3B4;
$color-blue: #3698BF;
$color-white: #fff;
$color-gray: #696969;
$color-gray-light: #b3b3b3;
$color-dark: $color-font;


/*==========================
FONTS
==========================*/

$font-base: 'Lato', "lucida grande", lucida, "trebuchet ms", trebuchet, arial, verdana, sans-serif;


/*==========================
DIMENSIONS
==========================*/

$search-y: 40px;
$search-x: 250px;
$search-bd-x: 2px;
$search-total-y: $search-y + ($search-bd-x * 2);
$pad-base: scut-em(40);
$pad-sm: 1.5em;
$curve: 4px;

$base: 16;
$line: 24;
$line-xsm: 4;
$line-sm: 12;
$line-lg: 48;
$f-sm: 0.75em;
$f-med: 1.5em;
$f-lg: 3em;

/*==========================
MEDIA QUERIES
==========================*/