/*==========================
COLORS
==========================*/

$color-red: #D92A1A;
$color-rust: #A63921;
$color-brown: #D97B29;
$color-light: #D9D3B4;
$color-blue: #3698BF;

$color-font: #2D2D2D;
$color-font-accent: #A63921;
$color-link: #3697BE;

/*==========================
FONTS
==========================*/

$font-base: 'Lato', "lucida grande", lucida, "trebuchet ms", trebuchet, arial, verdana, sans-serif;


/*==========================
DIMENSIONS
==========================*/


/*==========================
MEDIA QUERIES
==========================*/