/*==========================
COLORS
==========================*/

$color-font: #2D2D2D;
$color-font-accent: #A63921;
$color-link: #3697BE;

/*==========================
FONTS
==========================*/

$font-base: 'Lato', "lucida grande", lucida, "trebuchet ms", trebuchet, arial, verdana, sans-serif;


/*==========================
DIMENSIONS
==========================*/


/*==========================
MEDIA QUERIES
==========================*/