.well {
  border: 1px solid $color-gray-light;
  border-radius: $curve;
  @extend .padded;
}

.well-shadowed {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.52);
  border-color: $color-white;
}

.well-brown {
  background-color: $color-brown-light;
  color: $color-gray;
}